gpiozero>=2.0.1
pyserial>=3.5
opencv_python>=4.13
rplcd>=1.4.0
smbus2>=0.6.0
TMC2209_PY
pygame
pyusb
ticlib
Pillow
Pi5Neo>=1.0.6; sys_platform == "linux"
lgpio; sys_platform == "linux"
picamera2; sys_platform == "linux"
